body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    margin: 0 1rem;
}

nav a:hover {
    color: #555;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.about-section {
    display: flex;
    align-items: center; /* Vertically centers the content */
}

.about-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px; /* Adds some space between the image and the text */
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* This ensures that the image covers the entire container without distortion */
}


h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.scrollable-resume {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1rem;
}
